node_modules
dist
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
.vscode
.idea
*.md
!README.md
coverage
.nyc_output
logs
*.log
test
*.spec.ts
*.e2e-spec.ts
jest-e2e.json
.prettierrc
eslint.config.mjs
uploads/*
!uploads/.gitkeep
temp_*.xml
summary.md
docker-compose.yaml
Dockerfile
.dockerignore
